@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>

<p>One of the following conditions failed during startup:

<ul>
    <li>Link to the LUI input dataset available
    <li>Link to the result datastructure available
</ul>