@using Telerik.Web.Mvc.UI
@using System.Data
@using BExIS.Modules.EMM.UI.Models;

@model EventRegistrationResultModel

@section Information
{
    With this interface you get all registration from all open and closed events.
    <p>
        <a href="/RBM/Help/Index/#_Toc434570750" class="bx-informationLink" title="go to help" target="_blank">More</a>
    </p>
}
 

@(Html.Telerik().Grid(Model.Results)
            .Name("EventRegistrationResults")
            .Sortable()
           .Columns(columns =>
            {
                foreach (DataColumn dc in Model.Results.Columns)
                {
                    string title;

                    if (dc.Caption == "")
                    {
                        title = dc.ColumnName;
                    }
                    else
                    {
                        title = dc.Caption;
                    }

                    columns.Bound(dc.DataType, dc.ColumnName)
                              .Title(title).Width(dc.ColumnName.Length * 3); // forced fixed column width to enable horizontal scrolling
                }
            }

        )
)

@Html.ActionLink("Export (csv)", "Export", "EventRegistrationResult", new { id = Model.EventId }, new { @class = "bx-button function" })


@section LeftPane
{
    <div id="Content_Events">

    </div>
}


<script type="text/javascript">

    $(window).load(function () {

        $.get('@Url.Action("FillTree", "EventRegistrationResult")', function (data) {

            $('#Content_Events').html(data);
        });
    })

</script>